<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag("medalha_logo.png") %> <h1> Medalha </h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <p><%= current_user.email if user_signed_in? %></p>
      <div class="row">
        <div class="col-xs-2" id="sidebar">
          <ul>
            <li><%= link_to 'Principal', "/" %></li>
            <li><%= link_to 'Usuários', controller: "usuarios", action:"index"%></li>
            <li><%= link_to 'Atividades', controller: "atividades", action:"index"%></li>
            <li>Medalhas</li>
          </ul>

        </div>
        <div class="col-xs-10">
          <%= yield %>
          <%= link_to 'Deslogar', destroy_user_session_path, method: :delete if user_signed_in? %>
        </div>
      </div>
    </div>
  </body>
</html>
